body {
    background-color: royalblue
    color: paleturquoise
    font-family: 'Courier New', Courier, monospace;
    heigth: 100vh;
    margin: 0;
}
header { 
    background-color: var(--primary-color);
    text-align: center;
    
}
h1 {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
    
}


